
/* Chanthavong Normal Weight */
@font-face {
    font-family: 'Chanthavong';
    src: url('Chanthavong.woff2') format('woff2'),
        url('Chanthavong.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bouasavanh Normal Weight */
@font-face {
    font-family: 'Bouasavanh';
    src: url('Bouasavanh.eot'),
        url('Bouasavanh.eot?#iefix') format('embedded-opentype'),
        url('Bouasavanh.woff2') format('woff2'),
        url('Bouasavanh.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Bouasavanh Bold Weight */
@font-face {
    font-family: 'Bouasavanh';
    src: url('Bouasavanh-Bold.eot'),
        url('Bouasavanh-Bold.eot?#iefix') format('embedded-opentype'),
        url('Bouasavanh-Bold.woff2') format('woff2'),
        url('Bouasavanh-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


